#ls > * {
    font-weight: bold;
}

#ls > *::before {
    font-weight: normal;
    content: 'drwxrwxr-x 1 jakub jakub 4096 jan 1 1970 ';
}

@media (max-width: 1024px) {
    #ls > *::before {
        content: '';
    }
}
